/* BADGE PRIORIDAD */
.badge {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
}

.badge.baja {
  background-color: #28a745;
}

.badge.media {
  background-color: #ffc107;
  color: black;
}

.badge.alta {
  background-color: #dc3545;
}

/* BORDE SEGÚN PRIORIDAD */
.incidencia.baja {
  border-left: 5px solid #28a745;
}

.incidencia.media {
  border-left: 5px solid #ffc107;
}

.incidencia.alta {
  border-left: 5px solid #dc3545;
}

/* BADGE ESTADO */
.estado-badge {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
}

.estado-badge.pendiente {
  background-color: #6c757d;
}

.estado-badge.en-proceso {
  background-color: #0d6efd;
}

.estado-badge.resuelta {
  background-color: #198754;
}

/* BOTÓN CAMBIAR ESTADO */
.btn-estado {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 5px;
  font-size: 0.8rem;
  background-color: #2d6cdf;
  color: white;
}

.btn-estado:hover {
  background-color: #1b4fbf;
}

.badge {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
}

.badge.baja {
  background-color: #28a745;
}

.badge.media {
  background-color: #ffc107;
  color: black;
}

.badge.alta {
  background-color: #dc3545;
}